.color-body 
{
  background-color: #f8f8f8;
  height: 100vh;
}
.font 
{
  font-family: 'Almarai',"sans-serif";
}
.title
{
  color: #224f61;
  font-family: Almarai;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 64px;
}

.underline 
{
  height: 1px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid #b45b35;
}

.Btn
{
  color: #8c8c8c;
  font-family: Almarai;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 4px;
  padding: 8px;
}

.Btn:hover{
  color: white;
  font-family: Almarai;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 11px;
  border: none;
  background-color: #b45b35;
}
.img-item 
{
  height: 180px;
  width: 252px;
  border-radius: 5px;
}
.item-title 

{
  color: #555555;
  font-family: Almarai;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
.item-desc 
{
  color: #8c8c8c;
  font-family: Almarai;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px; 
}
